################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AnhNgocPackaging/.vs
/AnhNgocPackaging/bin/Debug/net9.0
/AnhNgocPackaging/obj
/AnhNgocPackaging/appsettings.Development.json
