@model CompanyGoogleDataResultDto
<div class="map-section">
    <div class="map-items">
        <div class="googpemap">
            <iframe src="@Model.Map"
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>