<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="page-heading">
            <h1>Shop Details</h1>
            <div class="page-header">
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".3s">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li>
                        Shop Details
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>